<div class="container">
  <h1 class="mt-4 text-center">Bem vindos ao <strong><em>APOD <small> (Astronomy picture of the day)</small> </em></strong> </h1>
  <p>Uma das aplicaçoes mais populares da <cite>NASA</cite> é o Astronomy Picture of the Day ou em tradução literal "imagem astronômica do dia"</p>
  <p>Criado em 16 de Junho de 1995, desde então todos os dias a <cite>NASA</cite> disponibiliza uma foto tirada no dia pelos seus satelites. e apartir de agora você pode consumir essas imagens através minha aplicação!</p>

  <button class="btn btn-primary btn-block" [routerLink]="['/pictures']" routerLinkActive="router-link-active" >Clique aqui para iniciar</button>

</div>
